aiohttp 
aiosignal 
anyio 
appnope 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-timeout 
attrs 
Babel 
backcall 
bleach 
blinker==1.6.2
brotlipy==0.7.0
certifi 
cffi 
charset-normalizer 
click==8.1.6
comm 
cryptography 
debugpy 
decorator 
defusedxml 
entrypoints 
executing 
fastjsonschema 
Flask==2.3.2
frozenlist 
gunicorn==21.2.0
idna 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
itsdangerous==2.1.2
jedi 
Jinja2 
json5 
jsonschema 
jupyter 
jupyter-console 
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
lxml 
MarkupSafe 
matplotlib-inline 
mistune 
multidict 
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
packaging 
pandocfilters 
parso 
pexpect 
pickleshare 
platformdirs 
ply==3.11
prometheus-client 
prompt-toolkit 
ptyprocess 
pure-eval 
pycparser 
Pygments 
pyOpenSSL 
pyrsistent 
PySocks 
python-dateutil 
python-dotenv==1.0.0
pytz 
pyzmq 
qtconsole 
QtPy 
redis==4.6.0
requests 
Send2Trash 
six 
sniffio 
soupsieve 
stack-data 
terminado 
tinycss2 
toml 
tornado 
traitlets 
typing_extensions 
urllib3 
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug==2.3.6
widgetsnbextension 
yarl 
